.navigator {
    /*background: linear-gradient(to right, #1b4b72,#6c5171,#1b4b72);*/
    background: linear-gradient(to right, #232020, #1b92a1,#1b1e21);
    box-shadow: 1px 2px 10px 0 black;
}

.navigator a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    /*transition: 1s;*/
}

.navigator a:hover {
    /*background: #7f6d9b;*/
    background: linear-gradient(to right, #2d7582,#306f7a,#247a85);
}

.navigator ul {
    text-align: center;
}

.navigator li {
    display: inline-block;
    position: relative;
}

.navigator .submenu {
    /*background: linear-gradient(to right, #1b4b72,#6c5171,#1b4b72);*/
    background: linear-gradient(to left, #1b92a1, #339da9, #1b8998, #308f9b);
    box-shadow: 0px 4px 5px 0px #333131;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}
.navigator .submenu li {
    width: 100%;
}
.navigator .submenu a {
    /*left: 0;*/
}
.navigator li:hover .submenu {
    display: block;
}

.active {
    background: #2f7f8b;
}