input, select, button, textarea {
    font: normal 0.9em 'century gothic', arial;
}

textarea {
    resize: none;
}

input[type=checkbox] {
    margin: 5px 18px 5px 2px;
    width: 16px;
    height: 15px;
}

.list {
    max-width: 640px;
    background: white;
    list-style: none;
    overflow: auto;
    height: 381px;
    padding: 5px;
    margin: 0 auto 50px;
    border-radius: 6px ;
    border: solid 1px #aeaeae;
}

.list li a {
    display: block;
    padding: 15px 5px 15px 48px;
}

.list li a:hover {
    background-color: #e8e8e8;
}

.list li {
    border-bottom: solid 1px #b3b3b3;
    margin: 0 15px;
}

.list li:last-child {
    border-bottom: none;
}

::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(148, 153, 162);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgb(44, 149, 162);
}