nav {
    color: white;
    overflow: hidden;
    height: 100%;
}

nav h4 {
    padding: 0 0 8px;
    margin: 15px 29px;
    text-align: center;
    border-bottom: solid;
    color: #e7e7e7;
}

nav ul {
    line-height: 30px;
    padding: 15px 8px;
    list-style: none;
}

nav ul li {
    overflow: hidden;
    border-bottom: solid 1px #a0a0a0;
}

nav ul li:last-child {
    border-bottom: none;
}

nav ul li a:hover {
    background-color: #60606073;
}

nav ul li a {
    padding: 10px;
    display: block;
}